<header class="container input-group pt-4">
  <div class="col-auto ">
    <label
      ><input
        class="form-control"
        id="title"
        type="search"
        placeholder="search by title"
    /></label>
    <!--      value={filterTitle}-->
    <!--      onChange={this.updateFilter}-->
  </div>
  <div class="col-auto ">
    <select class="form-control" id="price">
      <!--      onChange={this.updateFilter}-->
      <!--      onBlur={this.updateFilter}-->

      <option value="0 Infinity">Price</option>
      <option value="0 15">Price←15</option>
      <option value="15 30">15←Price→30</option>
      <option value="30 Infinity">30→Price</option>
    </select>
  </div>
</header>
<main class="container-fluid mt-5 w-75">
  <div class="row">
    <app-book></app-book>
    <app-book></app-book>
    <app-book></app-book>
    <app-book></app-book>
    <app-book></app-book>
    <app-book></app-book>
    <!--    {filteredBooks ? filteredBooks.map(book => <Book key={book.id} book={book} />) : null}-->
  </div>
</main>
