<nav class="navbar navbar-expand-lg navbar-dark top bg-dark border-bottom">
  <div class="container">
    <h3 class="navbar-brand">JS BAND STORE / Roman Stoliarenko</h3>

    <form action="" class="form-inline" *ngIf="auth.isAuthenticated()">
      <button type="button" class="btn btn-secondary mr-4" routerLink="/cart">
        <span role="img" aria-label="Cart">
          🛒
          <span class="badge badge-pill badge-light">
            <!--            { cart.length}-->
          </span>
        </span>
      </button>

      <button type="button" class="btn btn-secondary mr-4" (click)="logout()">
        Sign-Out
      </button>
      <div>
        <img class="rounded-circle mr-2" width="40" alt="avatar" [src]="" />
        <!--          src="{user.avatar}"-->
        <strong
          >user.username
          <!--          {user.username}-->
        </strong>
      </div>
    </form>
    <!--        )}-->
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
