<div
  class="col-xl-3 col-lg-4 col-md-6 mt-2 mb-4 shadow"
  style="max-width:400px"
>
  <div class="card h-100 position-relative text-center">
    <img
      class="card-img-top align-self-center mt-2"
      src=""
      alt="Cover"
      style="width: 95%"
    />
    <div class="card-body">
      <h5 class="card-title text-center text-secondary">title</h5>
      <p class="card-text text-secondary">author</p>
    </div>
    <div class="card-footer">
      <span class="h-75 text-center text-dark float-left rounded pt-1">
        <b>Price 100$</b>
      </span>
      <div class="float-right">
        <!--            <Link to={`/books/${id}`}></Link>-->
        <button
          class="btn btn-secondary "
          type="button"
          [routerLink]="['/books', 123]"
        >
          View
        </button>
      </div>
    </div>
  </div>
</div>
