<main class="container  mt-5 pt-3">
  <div class="row mt-5  w-100 row  d-flex justify-content-between">
    <div class="card mb-3 col-md-8 col-lg-8 bg-dark border-0">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="" class="card-img" alt="Cover" />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title border-bottom">title</h5>
            <p class="card-text">Author: author</p>
            <p class="card-text">Level: level</p>
            <p class="card-text">
              <span class="text-muted">Tags: tags</span>
            </p>
          </div>
        </div>
      </div>
      <div class="m-5">description</div>
    </div>
    <div class=" mb-3 text-light col-md-4 col-lg-4 bg-dark shadow-none">
      <div
        class="card-body d-flex flex-column rounded"
        style="border: 2px dashed; user-select: none"
      >
        <ul class="list-unstyled mb-4">
          <li class="d-flex justify-content-between py-3 border-bottom">
            <strong>Price </strong>
            <strong>11 </strong>
          </li>
          <li class="d-flex justify-content-between py-3 border-bottom">
            <strong>Count </strong>
            <div class="d-flex justify-content-end rounded border w-25">
              <span class="pt-1 pr-3 pl-3">
                <strong>22</strong>
              </span>
              <div class="d-flex flex-column">
                <span
                  role="img"
                  aria-label="+"
                  id="+"
                  class="badge"
                  style="cursor: pointer"
                >
                  <!--              onClick={this.updateCount}-->
                  <!--              onKeyDown={this.keyCountHandler}-->

                  ➕
                </span>
                <span
                  role="img"
                  aria-label="+"
                  id="-"
                  class="badge"
                  style="cursor: pointer"
                >
                  <!--              onKeyDown={this.keyCountHandler}-->

                  ➖
                </span>
              </div>
            </div>
          </li>
          <li class="d-flex justify-content-between py-3 border-bottom">
            <strong>Total price </strong>
            <h5 class="font-weight-bold">
              $100
            </h5>
          </li>
        </ul>
        <button type="button" class="btn btn-secondary">
          <!--          onClick="{this.addToCart}"-->

          Add to cart
        </button>
      </div>
    </div>
  </div>
</main>
