<main class="h-100 d-flex justify-content-center mt-5 pt-5">
  <div
    *ngIf="submitted"
    class="w-100 d-flex justify-content-center mt-4 position-fixed"
  >
    <div
      class="spinner-border text-primary"
      style="width: 3rem; height: 3rem"
      role="status"
    >
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  <form
    class="mt-5 form-group  text-center"
    [formGroup]="form"
    (ngSubmit)="submit()"
  >
    <div class="alert alert-danger" *ngIf="message">{{ message }}</div>
    <img
      src="../../assets/img/jsBandCover.png"
      class="mb-4 rounded mx-auto d-block"
      alt="jsBandCover"
      width="150"
    />
    <label for="name" class="text-light">Username</label>
    <div
      [ngClass]="{
        invalid: form.get('name').dirty && form.get('name').invalid
      }"
    >
      <input
        type="text"
        id="name"
        class="form-control"
        placeholder="type Username"
        formControlName="name"
      />
      <div
        class="validation"
        *ngIf="form.get('name').dirty && form.get('name').invalid; else br"
      >
        <small *ngIf="form.get('name').errors.required">Field is empty </small>
        <small *ngIf="form.get('name').errors.pattern"
          >Only letters and digits are allowed
        </small>
        <small *ngIf="form.get('name').errors.minlength"
          >Minimum
          {{ form.get('name').errors.minlength.requiredLength }} characters.
          Now: {{ form.get('name').errors.minlength.actualLength }}
        </small>
        <small *ngIf="form.get('name').errors.maxlength"
          >Maximum
          {{ form.get('name').errors.maxlength.requiredLength }} characters.
          Now: {{ form.get('name').errors.maxlength.actualLength }}
        </small>
      </div>

      <ng-template #br><br /></ng-template>
    </div>

    <!--      class={`form-control ${isValid ? 'is-valid' : 'is-invalid'}`}-->
    <!--      value={username}-->
    <!--      onChange={this.validateUserName}-->
    <!--      onKeyDown={this.enterHandler}-->

    <button
      class="btn btn-outline-primary btn-block mt-3"
      type="submit"
      [disabled]="form.invalid || submitted"
    >
      <!--      -->
      <!--      onClick={this.signInAsync}-->

      Sign-in
    </button>
  </form>
</main>
